body {
  font-family: Arial;
  background: #181A1D;
  margin-bottom: 0;
}

#header-background {
  position: fixed;
  top: 0;
  z-index: 1;
  background: #181A1D;
  width: 100%;
  height: 50px;
}

header {
  z-index: 1;
  position: sticky;
  display: flex;
  justify-content: center;
  flex-direction: row;
  top: 8px;
  border-radius: 10px;
  background: #32363D;
  height: 50px;
  width: 100%;
}

header h2 {
  white-space: nowrap;
  color: #D4D4D4;
  margin: auto;
  margin-left: 25px;
  font-size: 24px;
  padding-right: 32px;
}

#menu-links {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  list-style: none;
  background: #32363D;
  gap: 5px;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

#menu-links a {
  display: block;
  padding: 10px 20px;
  background: #F68330;
  color: #F3F4F6;
  text-decoration: none;
  border-radius: 6px;
  border-style: solid; 
  border-width: 3px;
  border-color: #292F37;
  font-weight: bold;
}

#up-arrow, #down-arrow {
  display: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin: 10px;
}

@media (max-width: 920px) {
  header h2 {
    margin-left: auto;
  }

  #down-arrow {
    display: block;
  }

  #up-arrow {
    display: none;
  }

  #menu-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 35px;
    width: 100%;
    background: #32363D;
    padding: 15px 0;
    padding-top: 20px;
    gap: 10px;
  }

  #menu-links.active {
    display: flex;
  }

  #menu-links a {
    text-align: center;
  }

  #menu-links li {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#splash {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

#author-image {
  width: 150px;
  height: 150px;
  margin: 0;
  border-radius: 50%;
  border-style: solid;
  border-width: 6px;
  border-color: #292F37;

}

.non-draggable {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media (max-width: 768px) {
  #splash {
    flex-direction: column;
  }
}

#author-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#author-description * {
  margin: 10px;
}

#introduction-content {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  text-align: center;
  border: dotted 4px;
  margin: 10px;
  padding: 10px;
}

.box :is(h2, h3) {
  text-align: center;
  font-size: 28px;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
}

.date-subtitle {
  margin: 10px;
  font-size: 16px;
  color: #7C8994;
  font-weight: bold;
}

h1, h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
  color: #7C8994;
}

h5 {
  font-size: 16px;
  color: #7C8994;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  margin: 30px;
}

main {
  color: #D4D4D4;
  margin: 0;
  padding: 0;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  list-style-type: disc;
}

a {
  color: #F68330;
}

a:hover {
  color: #C85C1C;
  transition-duration: 300ms;
}

#menu-links a:hover {
  background: #C85C1C;
  transition-duration: 300ms;
}

hr {
  margin: 30px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

#links-container {
  color: #7C8994;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

#links-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#links-container li {
  color: #D4D4D4;
}

#links-container div {
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

#links-container h3 {
  margin: 0;
  margin-bottom: 10px;
  text-align: left;
}

@media (max-width: 500px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  #links-container {
    flex-direction: column;
    max-width: 1200px;
    gap: 30px;
    position: relative;
    margin-bottom: 10px;
  }

  #links-container div ul {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #links-container div ul li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

#bottom-bar-container {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
}

#bottom-bar {
  background: #32363D;
  height: 40px;
  margin: auto;
  width: 100%;
}

#bottom-bar span {
  color: #D4D4D4;
  padding: 10px;
  margin-right: auto;
}

#bottom-bar a {
  margin-left: auto;
  padding: 10px;
}

/* Blog */

pre {
  position: relative;
  background: #25282D !important;
  text-align: left;
  border-radius: 10px;
  padding: 12px;
  font-family: "Courier New";
  z-index: 0;
  margin: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}

code {
  z-index: 1;
  padding: 4px;
  font-family: "Courier New";
  display: block;
  overflow: auto;
}

p code {
  display: inline;
  position: relative;
  z-index: -1;
  background: #25282D;
  border-radius: 10px;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Courier New";
  overflow-wrap: break-word;
}

.copy-btn-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: end;
  pointer-events: none;
}

.copy-btn {
  pointer-events: fill;
  background: #F68330;
  color: #F3F4F6;
  text-decoration: none;
  border-radius: 6px;
  border-style: solid; 
  border-width: 3px;
  border-color: #292F37;
  font-weight: bold;
  width: 20px;
  padding: 4px;
  margin-right: 21px;
  cursor: pointer;
  transition-duration: 300ms;
  transform: translateY(-3.5px);
}

.copy-btn:hover {
  background: #C85C1C;
  transition-duration: 300ms;
}

.copy-btn-clicked {
  background: #0E9F6E !important;
}

blockquote {
  background: #32363D;
  border-left: 6px solid #F05252;
  margin: 20px;
  margin-left: 30px;
  padding: 12px;
  display: flex;
}

blockquote p {
  display: inline;
  margin: 4px;
  margin-left: 8px;
  z-index: 0;
}

#blog-content ul li,
#blog-content ol li {
  margin: 8px;
  margin-left: 20px;
}

#table-of-contents {
  margin-bottom: 0;
  padding: default;
}

#table-of-contents li {
  margin: 4px;
}

#table-of-contents li ul li {
  text-align: left;
  list-style-type: circle;
}

@media (max-width: 920px) {
  #table-of-contents li {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

#blog-header :is(h1, div) {
  text-align: left;
  margin: 14px;
  margin-left: 0;
  margin-top: 0;
  padding-left: 6px;
}

#blog-content p {
  font-size: 18px;
}

#blog-content :is(h2, h3, h4, h5, p, blockquote) {
  padding-left: 6px;
  padding-right: 6px;
  text-align: left;
  margin-left: 0;
}

#blog-content ul :has(del) {
  list-style-type: circle;
}

#blog-content ul p {
  margin: 0;
}

code span[style*="color:#5f6364;"] {
  color: #7C8994 !important;
  font-style: italic;
}

