{%- import 'macros/seo.html' as macros_seo %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {%- block head %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="base" content="{{ config.base_url | safe }}" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
    {%- endblock head %}
  </head>
  <body>
    <div id="header-background"></div>
    <header>
      <svg id="down-arrow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 10L12 15L17 10" stroke="#D4D4D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
      <svg id="up-arrow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(180)"><path d="M7 10L12 15L17 10" stroke="#D4D4D4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
      <h2>Luka Dekanozishvili</h2>
      <ul id="menu-links">
        <li></li>
        <li><a href="/">Portfolio</a></li>
        <li><a href="/Luka Dekanozishvili - Resume.pdf" target="_blank">Resume</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/milestones/">Milestones</a></li>
        <li></li>
      </ul>
    </header>
    <main>
      <div id="splash">
        <img id="author-image" class="non-draggable" src="/images/author-image.webp" alt="Author's image">
        <div id="author-description">
          <h2>Luka Dekanozishvili</h2>
          <h3>Student, developer & DevOps enthusiast</h3>
        </div>
      </div>
      <hr>
      <div id="content">
        {% block content %} {% endblock content %}
      </div>
    </main>
    <hr>
    <footer>
      <div id="links-container">
        <div>
          <h3>Contact me</h3>
          <ul>
            <li>Email: <a href="mailto:me@lukadeka.com" target="_blank" rel="noopener noreferrer nofollow">me@lukadeka.com</a></li>
            <li>GitHub: <a href="https://github.com/LukaDeka" target="_blank" rel="noopener noreferrer nofollow">LukaDeka</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/lukadeka/" target="_blank" rel="noopener noreferrer nofollow">Luka Dekanozishvili</a></li>
            <li>PGP key: <a href="/pgp.txt" target="_blank" rel="noopener noreferrer nofollow">0xDC374D1908E7E740</a></li>
          </ul>
        </div>
        <div>
          <h3>Site map</h3>
          <ul id="site-map">
            <li></li>
            <li><a href="/">Portfolio</a></li>
            <li><a href="/Luka Dekanozishvili - Resume.pdf" target="_blank">Resume</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/milestones/">Personal milestones</a></li>
            <li></li>
          </ul>
        </div>
      </div>
      <div id="bottom-bar">
        <div id="bottom-bar-container">
          <span>© 2025-<script>document.write(new Date().getFullYear())</script> Luka Dekanozishvili</span>
          <a href="https://github.com/LukaDeka/Personal-Website" target="_blank" rel="noopener noreferrer nofollow">Website source code</a>
        </div>
      </div>
    </footer>
  </body>
</html>
