{% extends "base.html" %}
{%- block head %}
{{ super() }}
{{- macros_seo::seo(
  config=config,
  title="Blogs",
  description="Welcome to my blog! Here I discuss all things relating tech, Linux, networking, DevOps, as well as my hobbies.",
  thumbnail="https://lukadeka.com/images/blog-og.png"
) }}
{%- endblock head %}

{% block content %}
<h1 class="title">{{ section.title }}</h1>
<div id="main-content">
  {% for page in section.pages %}
  <div class="box">
    <h3><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h3>
      <h5>{{ page.date }} &middot; {{ page.reading_time }} minute read</h5>
    <p>{{ page.extra.long_description }}</p>
  </div>
  {% endfor %}
</div>
{% endblock content %}
