{% extends "base.html" %}
{%- block head %}
{{ super() }}
{{- macros_seo::seo(config=config, title=page.title) }}
{%- endblock head %}

{% block content %}
<div id="blog-header">
  <h1 class="title">{{ page.title }}</h1>
  <div class="date-subtitle">{{ page.date }} &middot; {{ page.reading_time }} minute read</div>
  {% if page.toc %}
  <ul id="table-of-contents">
    {% for h2 in page.toc %}
    <li>
      <a href="{{ h2.permalink | safe }}"><b>{{ h2.title }}</b></a>
      {% if h2.children %}
      <ul>
        {% for h3 in h2.children %}
        <li><b><a href="{{ h3.permalink | safe }}">{{ h3.title }}</a></b></li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
<div id="blog-content">
  <hr>
  {{ page.content | safe }}
</div>
{% endblock content %}
