{% extends "base.html" %}

{% block content %}
<div id="introduction-content">
  <h1>Welcome to Luka's self-hosted website!</h1>
  <p>
    Here I talk about my experiences with tech, as well as present my career
    path, education, projects, and experiences.
  </p>
  <p>
    Check out my <a href="/blog">blog</a>, as well as my
    <a href="/milestones">personal milestones</a>, which lists my completed and
    active goals for the future.
  </p>
<div>
<div id="main-content">
  <h1>Projects</h1>
  <div class="box">
    <h2>EMBArk – Django-UI for Siemens Energy</h2>
    <p>
      Open source university project in cooperation with Siemens Energy:
      Further development of a Python web UI for managing firmware analyses via
      SSH workers in a team, with a focus on agile methodologies.
    </p>
    <p>
      Our student team had multiple weekly meetings in which we discussed the
      future of the project and prioritized tickets. We also had mandatory
      reviews for each pull-request which helped uphold a high standard of
      code-quality.
    </p>
  </div>
  <div class="box">
    <h2>Server administration of network systems with NixOS</h2>
    <p>
      Declarative configuration & administration of fault-tolerant servers with
      Cloudflare, Mesh VPNs, nginx, ZFS, SSHFS, monitoring, cloud printing,
      email server, and proxy. With a focus on IT security, reliability, and
      best practices.
    </p>
    <p>
      This is currently my main hobby. Started in 2024, now I rely on many of
      these services. I also run a server for my parents which they use for
      media storage as well as QoL improvements like cloud-printing. This server
      is also used as a remote backup.
    </p>
    <p>
      With this, my journey to degoogle my life and rely less on external
      services has been a success.
    </p>
  </div>
  <div class="box">
    <h2>File archiver in C</h2>
    <span>
    <p>
      Archives/extracts files in its own format using Huffman coding.
      Implements multi-stage compression for a minimal file size. Programmed
      without external dependencies or libraries.
    </p>
    <p>
      This was done to learn about Huffman coding and different file
      compression techniques. I also had to come up with my own format to
      overcome the challenges of storing data in bits instead of bytes (as per
      the algorithm).
    </p>
  </div>
  <h1>Career</h1>
  <div class="box">
    <h2>Junior Backend Engineer Internship – Talkpal Inc.</h2>
    <p>
      Scrum-based backend development with NestJS & microservices: optimization
      of Redis queues for email scheduling, endpoint conversion in Swagger,
      debugging with PostgreSQL, etc.
    </p>
    <p>
      Here I had first-hand experience in how mid to large teams operate. I
      helped with bugfixes, modularized endpoints, updated the documentation,
      and optimized Redis queue sizes of mails.
    </p>
  </div>
  <div class="box">
    <h2>Information Technology Support Specialist – Cura Unternehmensgruppe GmbH</h2>
    <span>
    <p>
      Support with network and user administration, hardware maintenance and
      management, automation, and documentation in the IT field.
    </p>
    <p>
      Here I gained invaluable people-skills, as well as further developed my
      logical reasoning. Problems in IT seem often unexplainable, but the
      methodology of fixing it is often quite similar.
    </p>
    <p>
      I also worked on repairing/repurposing decommissioned hardware as well as
      automating some chores my colleagues had to do e.g. user account creation
      using a PowerShell script that reorders a CSV, and creates new fields
      based on hashmaps.
    </p>
  </div>
</div>
<div>
  <br>
  <h4>Acknowledgement</h4>
  The design of the website is heavily inspired by
  <a href="https://diogotc.com/" target="_blank" rel="noopener noreferrer nofollow">Diogo Correia's personal website</a>,
  and the color scheme by
  <a href="https://netbird.io/"target="_blank" rel="noopener noreferrer nofollow">Netbird</a>.
</div>
{% endblock content %}
