{% extends "base.html" %}
{%- block head %}
{{ super() }}
{{- macros_seo::seo(config=config, title="Personal milestones", thumbnail="https://lukadeka.com/images/milestones-og.png") }}
{%- endblock head %}

{% block content %}
<div id="blog-header">
  <h1 class="title">{{ page.title }}</h1>
  {% if page.toc %}
  <ul id="table-of-contents">
    {% for h1 in page.toc %}
    <li>
      <a href="{{ h1.permalink | safe }}"><b>{{ h1.title }}</b></a>
      {% if h1.children %}
      <ul>
        {% for h2 in h1.children %}
        <li><a href="{{ h2.permalink | safe }}"><b>{{ h2.title }}</b></a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
<div id="blog-content">
  {{ page.content | safe }}
</div>
{% endblock content %}
